*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @extend %description-16;

  background: $black;
  color: $white;
  font-family: $ff-base;

  &.locked { overflow: hidden; }
}

.container-fluid {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
  padding: 0 3rem;

  &.xl        { max-width: 1300px; }
  &.lg        { max-width: 1100px; }
  &.md        { max-width: 840px; }
  &.sm        { max-width: 700px; }
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

img {
  vertical-align: middle;
}

h1 {
  @extend %title-h1;
}
h2 {
  @extend %title-h2;
}
h3 {
  @extend %title-h3;
}
