%cover {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

@mixin placeholder {
  &.placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin ratio ($height, $width) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100%;
  }
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}
