#cookie-law-info-bar {
  border: 1px solid $primary-color;
  right: 1rem; left: auto;
  bottom: 1rem !important;
  width: 60rem;

  @include media('<phone') {
    width: calc(100% - 2rem);
    left: 1rem;
  }
}
