.link__cta {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 0;
  border-bottom: 1px solid $white;
  transition: all .2s ease;

  &:after {
    content: ' >';
    display: inline-block;
    margin-left: 1rem;
    transform: translateY(-0.15rem);
  }

  &:hover {
    color: $primary-color;
    border-bottom: 1px solid transparent;
  }
}
