.card__grid {
  display: grid;
  gap: 1.5rem 3rem;
  margin-top: 15rem;

  &.grid-2 {grid-template-columns: 1fr 1fr;}
  &.grid-3 {grid-template-columns: 1fr 1fr 1fr;}
  &.grid-4 {grid-template-columns: 1fr 1fr 1fr 1fr;}

  @include media('<tablet') {
    &.grid-2 {grid-template-columns: 1fr;}
    &.grid-3 {grid-template-columns: 1fr 1fr;}
    &.grid-4 {grid-template-columns: 1fr 1fr;}
  }

  @include media('<phone') {
    &.grid-2 {grid-template-columns: 1fr;}
    &.grid-3 {grid-template-columns: 1fr;}
    &.grid-4 {grid-template-columns: 1fr;}
  }
}

.card__tv__cover,
.card__member__cover {
  overflow: hidden;
  background-size: cover;
  background-position: center;

  &:after {
    content: '';
    float: left;
    padding-top: 65%;
  }
}

.card__tv__content,
.card__member__content {
  background: $white;
  color: $black;
  padding: 3rem;

  h3 {
    font-family: $ff-base;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  img {
    width: auto; height: auto;
    max-height: 3rem;
    margin-bottom: 1rem;
  }

  span.logo {
    display: block;
    height: 3rem;
    margin-bottom: 2rem;
  }
}

.card__tv-footer {
  text-transform: uppercase;
  text-align: right;
}

.card__member {
  grid-column: span 2;
  background: $white;

  &:last-child:nth-child(3n - 1) { grid-column-end: -2; }
  &:nth-last-child(2):nth-child(3n + 1) { grid-column-end: 4; }
  &:last-child:nth-child(3n - 2) { grid-column-end: 5; }

  @include media('<tablet') {
    grid-column: unset !important;
    grid-column-end: unset !important;
  }
}

span.footer__date {
  display: inline-block;
  padding: 1rem 0;
}

.card__live p { font-style: italic; }
.card__live-footer span { text-decoration: underline; }
