form { overflow: hidden; }

.input__group {
  float: left;
  width: 100%;
  padding-right: 1rem;

  &.small { width: 25%; }
  &.half { width: 50%; }
  &.semi { width: 75%; }
  &.full { width: 100%; }

  @include media('<phone') {
    &.small,
    &.half,
    &.semi { width: 100%; }
  }
}

.form__label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.8rem;

  .error & { color: $red; }
}

.form__input {
  width: 100%;
  resize: none;
  outline: none;
  margin-bottom: 2rem;
  background: $black;
  border: none;
  padding: .4rem;
  font-family: $ff-base;
  color: $white;
  border-bottom: 1px solid $grey;

  &::-webkit-input-placeholder  { color: $grey; }
  &:-ms-input-placeholder       { color: $grey; }
  &::placeholder                { color: $grey; }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
  }
  &[data-autocompleted] { background-color: $black !important; }

  &:focus,
  &:active {
    border-bottom: 1px solid $primary-color;
  }

  .error & { border-bottom: 1px solid red; }
}
