.overlay {
	position: fixed;
	overflow-y: scroll; // auto
	top: 0; right: 0;
	bottom: 0; left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 998;
  display: none;
}

.modal__video {
	position: absolute;
	z-index: 900;
	background: $black;
	width: 950px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;

  video {
    width: 100%;
    height: auto;
  }

  @include media('<tablet') {
    width: 90%;
  }
  @include media('<phone') {
    width: 95%;
  }
}
