footer {
  padding: 4rem 0;

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media('<phone') {
    .container-fluid { flex-direction: column-reverse; }
  }
}

.footer__copy {
  flex: 1;
}

.footer__logo {
  width: 40rem;
  text-align: center;

  a   { display: block; }
  img { width: 8rem; }

  @include media('<tablet') {
    width: auto;
  }

  @include media('<phone') {
    a   { margin: 2rem 0; }
    img { width: 5rem; }
  }
}

.footer__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;

  li:not(:last-child) { margin-right: 2rem; }

  @include media('<phone') {
    flex-direction: column;

    li {
      margin-right: 0 !important;
      margin-bottom: 2rem;
    }
  }
}
