header {
  padding: 4rem 0;
  position: relative;

  .container-fluid {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.header__branding {
  width: 40rem;
  text-align: center;

  a { display: block; }
  img { width: 8rem; }

  @include media('<small') {
    width: 30rem;
  }

  @include media('<tablet') {
    width: auto;
  }

  @include media('<phone') {
    img { width: 5rem; }
  }
}

.menu__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  a { @extend %link-header; }

  @include media('<tablet') {
    display: none;
  }
}

.hamburger {
  display: none;
  position: relative;
  width: 3.5rem;
  height: 3.2rem;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: .4rem;
    background: $white;
    transition: all .2s ease;

    &:nth-child(1) { top: 0; }
    &:nth-child(2) {
      top: 50%;
      right: 0;
      transform: translateY(-2px);
    }
    &:nth-child(3) {
      top: 100%;
      transform: translateY(-4px);
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
      &:nth-child(2) { width: 0; }
      &:nth-child(3) {
        top: 50%;
        transform: translateY(50%) rotate(45deg);
      }
    }
  }

  @include media('<tablet') {
    display: block;
  }
}

.mobile__menu {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;height: 100%;
  padding: 0 3rem;
  background: $black;
  z-index: 90;
}

.mobiel__menu__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile__menu__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    @extend %link-header;

    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
  }
}
