%title-h1 {
  text-transform: uppercase;
  font-family: $ff-base-2;
  font-size: 15rem;
  font-weight: 700;

  @include media('<phone') {
    font-size: 8rem;
  }
}
%title-h2 {
  text-transform: uppercase;
  font-family: $ff-base-2;
  font-size: 4rem;
  font-weight: 700;

  @include media('<phone') {
    font-size: 3rem;
  }
}
%title-h3 {
  text-transform: uppercase;
  font-family: $ff-base-2;
  font-size: 2.4rem;
  font-weight: 700;

  @include media('<phone') {
    font-size: 2rem;
  }
}
