.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media('<phone') {
    flex-direction: column-reverse;
  }
}

.contact__form {
  flex: 2;
  padding: 2rem;

  .link__cta { float: right; }
}

.contact__details {
  flex: 1;
  background: url('/wp-content/themes/weichieprojects/assets/imgs/contact-bg.png');
  background-repeat: no-repeat;
  padding: 5rem;
  text-align: center;
  color: $black;
  background-size: 100% 100%;

  strong {
    display: block;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  address {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: .4rem;
  }

  a:hover {text-decoration: underline;}

  @include media('<phone') {
    width: 100%;
    margin-bottom: 2rem;
  }
}
