.home__section {
  padding-top: calc(70rem - 18rem);
  position: relative;
}

.home__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20rem; left: 0;
  width: 100%;
  height: 70rem;
  z-index: 1;
  background-size: cover;
  background-position: center;

  .filter {
    background: $black;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    opacity: .3;
    z-index: 2;
  }

  .container-fluid {
    position: relative;
    z-index: 10;
    text-align: center;
    padding-top: 5rem;
  }

  h2 {
    @extend %title-h2;

    margin-top: 1.5rem;
  }
}

.section__wrapper {
  padding: 6rem 0;

  &.bg__white {
    color: $black;
    background-image: url('/wp-content/themes/weichieprojects/assets/imgs/white-bg.png');
    background-size: 115% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.home__intro {
  padding: 4rem 3rem;
  text-align: center;
  max-width: 40rem !important;

  p {margin: 0;}
}

.home__peak {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.reverse {
    flex-direction: row-reverse;
  }

  @include media('<phone') {
    flex-direction: column-reverse !important;
  }
}

.home__peak__video {
  width: 50%;
  position: relative;
  cursor: pointer;

  &:hover svg circle {
    fill: $primary-color;
  }

  img {width: 100%;}

  svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 10rem; height: 10rem;

    circle {transition: fill .2s ease;}
  }

  .figcaption {
    font-family: $ff-base-2;
    text-transform: uppercase;
    display: block;
    text-align: right;
    font-size: 6rem;
    padding-right: 1rem;
    transform: translateY(-50%);
  }

  @include media('<phone') {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    margin-bottom: 3rem;

    svg {
      width: 6rem;
      height: 6rem;
    }
  }
}

.home__peak__content {
  width: 50%;
  padding-right: 10rem;
  padding-left: 0;
  overflow: hidden;

  p a {
    text-decoration: underline;

    &:hover {text-decoration: none;}
  }

  .reverse & {
    padding-left: 10rem;
    padding-right: 0;
  }

  .link__cta { float: right; }

  @include media('<phone') {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }
}

.home__text {
  padding: 4rem 0;
  overflow: hidden;

  .link__cta {
    float: right;
    margin-top: 3rem;
  }

  .bg__white & {
    .link__cta {
      border-bottom: 1px solid $black;
    }
  }

  p {
    font-size: 3rem;
    line-height: 3.4rem;
    text-transform: uppercase;

    a {
      text-decoration: underline;

      &:hover {text-decoration: none;}
    }
  }

  @include media('<phone') {
    p {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
