.page__section {
  padding: 5rem 0;
}

.page__title {
  text-align: center;

  h1 {
    margin-bottom: 3rem;
  }

  &-content {
    margin: 0 auto;
    max-width: 85rem;
  }
}

.member__list {
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0,1fr));
  grid-gap: 4rem 5rem;

  @include media('<tablet') {
    grid-template-columns: repeat(2, minmax(0,1fr));
  }
  @include media('<phone') {
    margin-top: 10rem;
    grid-template-columns: repeat(1, minmax(0,1fr));
  }
}

.goal__list  {
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0,1fr));
  grid-gap: 4rem 5rem;

  @include media('<tablet') {
    grid-template-columns: repeat(3, minmax(0,1fr));
  }

  @include media('<phone') {
    margin-top: 10rem;
    grid-template-columns: repeat(2, minmax(0,1fr));
  }
}

.goal__list__item {
  grid-column: span 2;
  text-align: center;

  &:last-child:nth-child(3n - 1) { grid-column-end: -2; }
  &:nth-last-child(2):nth-child(3n + 1) { grid-column-end: 4; }
  &:last-child:nth-child(3n - 2) { grid-column-end: 5; }

  img {
    width: auto; height: auto;
    max-width: 9rem;
    max-height: 9rem;
  }

  h4 {
    font-size: 4.8rem;
    line-height: 5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  @include media('<laptop') {
    img {
      width: auto; height: auto;
      max-width: 13rem;
      max-height: 6rem;
    }

    h4 {
      font-size: 4rem;
      line-height: 4.6rem;
    }
  }

  @include media('<tablet') {
    grid-column: unset !important;
    grid-column-end: unset !important;

    h4 {
      font-size: 3rem;
      line-height: 3.4rem;
    }
  }
  @include media('<phone') {
    h4 {
      margin-top: 2rem;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

